In [5]:
from marking_cycles.kalshi_api import snap_markets, KalshiSession

In [8]:
session = KalshiSession()
markets = snap_markets(session)

In [9]:
import pandas as pd
pd.DataFrame(markets)

                    ticker     event_ticker  ... cap_strike custom_strike
0      HIGHMIA-24APR01-T83  HIGHMIA-24APR01  ...        NaN           NaN
1    HIGHMIA-24APR01-B82.5  HIGHMIA-24APR01  ...       83.0           NaN
2    HIGHMIA-24APR01-B80.5  HIGHMIA-24APR01  ...       81.0           NaN
3    HIGHMIA-24APR01-B78.5  HIGHMIA-24APR01  ...       79.0           NaN
4    HIGHMIA-24APR01-B76.5  HIGHMIA-24APR01  ...       77.0           NaN
..                     ...              ...  ...        ...           ...
995           MOON-26DEC31             MOON  ...        NaN           NaN
996           MOON-25DEC31             MOON  ...        NaN           NaN
997        GMECEOCHANGE-24     GMECEOCHANGE  ...        NaN           NaN
998        AMCCEOCHANGE-24     AMCCEOCHANGE  ...        NaN           NaN
999             SWITCH2-24          SWITCH2  ...        NaN           NaN

[1000 rows x 40 columns]